<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imgsrc</key>
		<string>20151117094959498eb</string>
		<key>title</key>
		<string>奥朗德宣布战争状态 议员齐唱马赛曲</string>
	</dict>
	<dict>
		<key>imgsrc</key>
		<string>201511170946507c150</string>
		<key>title</key>
		<string>合肥高校5千名大学生相亲寻真爱</string>
	</dict>
	<dict>
		<key>imgsrc</key>
		<string>2015111708365527431</string>
		<key>title</key>
		<string>《看客》:在纽约触碰时尚的中国人</string>
	</dict>
	<dict>
		<key>imgsrc</key>
		<string>201511171024026ecb5</string>
		<key>title</key>
		<string>黄河壶口瀑布水量激增气势磅礴</string>
	</dict>
	<dict>
		<key>imgsrc</key>
		<string>20151117091851c0993</string>
		<key>title</key>
		<string>巴黎卢浮宫等公共场所重新开放</string>
	</dict>
</array>
</plist>
